{% assign personalpages = site.data.data.sidebar.personalpages %}
{% if personalpages %}
<div class="personalpages-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled personalpages-list">
    {% for personalpage in personalpages %}

      {% if personalpage.link %}
      <li><a href="{{ personalpage.link }}">{{ personalpage.item }}</a></li>
      {% else %}
      <li>{{ personalpage.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//personalpages-->
{% endif %}
